.comment {
    display: flex;
    gap: .5rem;
    padding: .5rem 1rem;
}

.commentInfo {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.commentTitle {
    font-size: .9em;
}

.commentText {
    font-size: .9em;
}

.commentDate {
    font-weight: 300;
    font-size: .8em;
}

.profileImage {
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
}